/* 노트북 & pc (해상도 1024px) */
@media all and (min-width: 1445px) {
  #header {
    width: 1440px;
    height: 90px;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    display: flex;
    margin: 0 0 0 38px;
  }

  .navigation-bar {
    display: flex;
    flex-direction: row;
  }

  .navigation-element {
    color: #d1d3d4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 20px;

    display: flex;
  }

  .main-section {
    min-height: calc(100%-250px);
    display: grid;
    grid-template-columns: 9.1fr 3fr;
    margin: 40px 0 120px 0;
  }

  .left-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
  }

  .card1-down {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin-top: 17px;
  }

  .card1-down-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 32px;
  }

  .card1-down-right-down {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 17px;
  }
  .card1-1 {
    width: 1012px;
    height: 581px;
  }

  .card1-2 {
    width: 317px;
    height: 580px;
    background-color: red;
  }

  .card1-3 {
    width: 663px;
    height: 274px;
  }

  .card1-4 {
    width: 316px;
    height: 274px;
  }

  .card1-5 {
    width: 316px;
    height: 274px;
  }

  .right-section {
    display: grid;
    grid-template-rows: 2.25fr 4.5fr 2fr;
  }

  .card2-1 {
    width: 316px;
    height: 274px;
  }

  .card2-2 {
    width: 316px;
    height: 581px;
    background-color: blue;
  }

  .card2-3 {
    width: 316px;
    height: 274px;
  }

  #footer {
    width: 1440px;
    height: 160px;
    background-color: #1d1f24;

    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
  }

  .section1 {
    display: grid;
    margin-left: 30px;
  }

  .logo-footer {
    display: grid;
    grid-template-columns: 28% 72%;
    margin-top: 30px;
  }

  .explain {
    margin-bottom: 70px;
  }
  .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .section2-up {
    margin-top: 50px;
  }

  .section2-down {
    margin-bottom: 80px;
  }

  .section3 {
    display: grid;
    grid-template-rows: 50% 50%;
    margin-left: 80px;
  }

  .social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    margin: 30px 0 0 140px;
  }

  /* .instagram-logo {
    margin-right: 20px;
  }
  .pinterest-logo {
    margin-right: 20px;
  }
  .twitter-logo {
    margin-right: 20px;
  }
  .facebook-logo {
    margin-right: 20px;
  }

  .input-box {
    margin-left: 70px;
  } */
}
